<h1><%= image_tag("ROR.png") %>Repository of Recs</h1>
<div style="margin-left: 200px; margin-right: 200px; text-align: justify;">
<p>ROR is created for fans to be able to recommend their series of choice to other fans. We aim to bring fans closer and to discover works similar to their works of choice that span across different forms of media.</p>
<br/>
<p>With the multitudinous amount of series across different forms of media, it is difficult to discover one's preferences. This archive would contain the recommendations of fans with similar tastes, as well as would provide insight to what a series or game or any form of media would entail if ever a fan were to choose that specific form of media.</p>
</div>

